doctype html
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        style(type = 'text/css').
            h1 {
                color: #fe57a1
            }
    body
        p Manager (who request): #{manager}
        p Project: #{project}
        p Offer: #{offer}
        p Design:: #{design}
        p Technical info:: #{tech}
        p Planned testing works: #{works}